@charset "utf-8";
$button-padding-horizontal: 2rem;
$button-padding-vertical: 1.2rem;
$modal-background-background-color: #478bcc;

$modal-card-body-padding: 50px;
$card-background-color: transparent;
$card-shadow: none;


$blue: #2367d4;
$yellow: #ffcd3c;
$size-1: 4rem;
$size-2: 3rem;


@import "prebulma";
@import "posbulma";
$sizes: (
	('tiny',0.8),
    ('small', 2),
    ('medium', 4),
    ('big', 7),
    ('huge', 10),
);
$positions: (
    'top','bottom'
);
body{
	background: #478bcc;
}
hr{
	background-color: white;
	height: 1px;
	&.big{
		height: 6px;
	}
	&.blue1{

	}
}
.container{
	&.is-small{
		max-width: 1064px;
	}
}
.card {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	@include desktop {
		height: 100%;
	}
	.card-footer {
		border: none;
		margin-top: auto;
	}
}
.bgyellow{
	background: #fdfef0;
	padding: 1rem 2.5rem;
	.button-wrapper{
		background: #ffe34b;
		padding: 0.7rem;
	}
	a.button {
		background: #ffe34b;
		border: 3px solid white;
		color: black;
		padding: 0.5rem 1rem;
		&::after{
			border: 3px solid blue;
		}
	}
}
section.section{
	@include tablet {
		padding: 2.5rem 1.5rem;
	}
	&.with-divider{
		padding-bottom: 0;
		hr {
			margin: 2rem auto;
		}
	}
	
	&#tabmain {
		height: 100%;
		position: relative;
		> .container, .columns > .column, .columns, ul, .tabs{
			height: 100%;

		}
		ul li.last {
			flex: 1;
		}
		@include tablet {
			height: 100vh;
		}
	}
	&#lideres,&#especializado,&#mujer{
		@include tablet {
			padding: 7rem 1.5rem;

		}

	}
	&.bluebg{
		background: url(../img/fondo.png) center top;
		background-size: 100% auto;
		background-color: #183d73;
		background-repeat: repeat-y;

		.title, .subtitle, .content, p, a:not(.button), .content *{
			color: white;
			strong {
				color: white;
			}

		}
		&.normal {
			background-image: none;
		}
		.box {
			.content, p, .title, .subtitle, strong{
				color: inherit !important;
			}
		}
		
	}
}

@mixin customGap($val: 1.6, $up: false)
{
	@include tablet{

		$columnGap: 1.5rem;
		@if $val == 6
		{
			$columnGap: 1.5rem;
		}
		@else if $val == 8{
			$columnGap: 2rem;
		}
		@else{
			$columnGap: 3rem;
		}
		
		> .column {
		    padding-left: $columnGap;
		    padding-right: $columnGap;
		    @if $up == true 
		    {
		    	padding-top: $columnGap;
		    	padding-bottom: $columnGap;
		    }
		}
		
	}
}

.hero{
	.hero-body{
		@include tablet{
			padding: 4rem 1.5rem;
		}
	}
}

//Spacing variables
@each $size in $sizes {
	$sizeKey: nth($size, 1);
	$sizeValue: nth($size, 2);
	@each $pos in $positions{
		.has-#{$sizeKey}-margin-#{$pos}{

			margin-#{$pos}: #{$sizeValue*0.5}rem;
			&.in-mobile{
				margin-#{$pos}: #{$sizeValue}rem;
			}					
			&:not(.in-mobile){
				@include desktop{
					margin-#{$pos}: #{$sizeValue}rem;
				}
			}
			&.only-mobile
			{
				@include desktop{
					margin-#{$pos}: initial;
				}
			}
			&.from-tablet{
				margin-#{$pos}: initial;
				@include tablet{
					margin-#{$pos}: #{$sizeValue}rem;
				}
			}
			@if $pos == "bottom"{
				&.not-on-last-child{
					&:last-child{
						margin-bottom: inherit;
					}
				}
			}
		}
		.has-#{$sizeKey}-padding-#{$pos}{
			padding-#{$pos}: #{$sizeValue*0.5}rem;
			@if $sizeKey == "medium" or $sizeKey == "small"{
				&.section{
					padding-#{$pos}: #{$sizeValue}rem;
				}
			}
			@include desktop{
				padding-#{$pos}: #{$sizeValue}rem;
			}
			&.only-mobile
			{
				@include desktop{
					padding-#{$pos}: initial;
				}
			}
			&.from-tablet{
				padding-#{$pos}: initial;
				@include tablet{
					padding-#{$pos}: #{$sizeValue}rem;
				}
			}
			@if $pos == "bottom"{
				&.not-on-last-child{
					&:last-child{
						padding-bottom: inherit;
					}
				}
			}
		}
	}
}

.contaner.is-small{
	max-width: 800px;
	margin: 0 auto;
}
img{
	&.alignright{
		float: right;
	}
}
#video-player{
	&:after{
		content: "Cargando video. Por favor esperar...";
		font-size: 1.2rem;
		font-weight: bold;
		font-style: italic;
		color: white;
	}
}
.subtitle{
	font-family: 'Open Sans', "sans-serif";
}
.title{
	font-family: 'Open Sans', "sans-serif";
	font-weight: bold;
	span.big{
		@include tablet{
			font-size: 5rem;
		}
		@include widescreen {
			font-size: 6rem;
		}
	}
}
.title, .subtitle{
	&.is-blue, span.is-blue{
		color: $blue;
	}
}

.modal{
	@include mobile {
		padding: 1rem;
		.modal-card-body{
			padding: 0;
		}
	}
	.modal-background{
		background: url(../img/fondo.png) center top;
		background-size: 100% auto;
		background-color: $modal-background-background-color;
		background-repeat: repeat-y;
	}
	.modal-content{ 
		overflow: visible;
		&.has-video{
			@include mobile{
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px; height: 0;

				iframe,	object,	embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			min-height: 300px;
			iframe{
				height: 100%;
			}
		}
		.title, .subtitle, label{
				color: white;
			}
	}
	.modal-card{
	
		overflow: visible;
		box-shadow: none !important;

		.modal-card-body{
			background: transparent;
			padding: 0;
			.title, .subtitle, label{
				color: white;
			}
			.columns {
				.column{
					@include tablet {
						border-right: 1px solid $grey-light;
						&:last-of-type {
							border: none !important;
						}
					}
				}
			}
		}
	}
	.modal-close{ 
		background: $danger;
		position: absolute;
		box-shadow: 0 10px 40px 0 rgba(white,0.1), 0 2px 9px 0 rgba(white,0.06);
		right: -16px;
		top: -16px;
		&:hover{
			background: darken($danger,10%);
		}
		&.is-white{
			background: $white-ter;
			&:before,&:after{
				background-color: $black-ter;
			}
			&:hover{
				background: white;
			}
		}
		&.is-large{
			min-height: 50px;
			min-width: 50px;
		}
	}
	&.is-big .modal-card{
		@include tablet {
			width: 750px;
		}
		@include widescreen {
			width: 950px;
		}
	}
}

.video-bg{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1 !important;
	background-size: cover; 
	.no-js &{
		display: none;
	}
}


.has-navbar-fixed-top{
	padding-top: 0 !important;
}

.is-vcentered{
	align-items: center;
}

body{
	background: transparent;
	position: relative;
	line-height: 1.7;
}

section{
	background: white;
	
	&#main {
		background-color: #478bcc;
		.title, .subtitle, .content{
			color: white;
		}
	}
	&.light{
		background-color: #478bcc !important;
	}
	&#publicos {
		background-color: #2367d4;
		.title, .subtitle, .content, strong{
			color: white;
		}
		.columns{
			margin-bottom: 0
		}
	}

	&#contact {
		background-color: #478bcc;
		.title, .subtitle, .content{
			color: white;
		}
	}
}

nav.navbar{
	z-index: 9 !important;
	width: 100%;
	background: #478bcc;
	border-bottom: 1px solid $grey-light;
	flex-wrap: wrap;
	.navbar-menu{
		background: transparent;
		@include touch{
			background: white;
		}
		@include tablet {
			margin: 0 auto;
			max-width: 100%;
		}
	}
	.navbar-start {
		@include tablet {
			display: block;
			max-width: 91%
		}
	}
	.navbar-dropdown{
		.navbar-item, .navbar-link {
			width: 100%;
			text-align: left;
			color: black;
			strong {
				color: black;
			}
		}

	}
	a.navbar-item, a.navbar-link{
		@include tablet {
			color: white;
		}
		padding: 1rem 1.5rem;
		font-family: "Open Sans";
		font-weight: bold;
		font-size: 1rem;
		transition: background-color 250ms linear;
		&:hover, &:focus, &:active{
			background: transparent;
		}
		
		&.bigger{
			@include tablet {
				font-size: 1.2rem;
				font-weight: bold
			}
		}
		&:not(.is-arrowless)::after{
				right: 0;
		}
		

	}
	.navbar-item {
		&.has-dropdown {
			&:hover, &:active, &:focus {
				.navbar-link {
					background: transparent;
				}
			}
		}
	}
	.navbar-link:not(.is-arrowless)::after{
		right: 0.5em;
		&.bitter{
			right: 0;
		}
	}
	.navbar-burger{
		color: white;
	}
	.navbar-brand{
		.navbar-item{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			img{
				max-height: 6.5rem
			}
		}
	}
	@include tablet {
		.navbar-brand{
			display: block;
			margin: 0 auto;
			flex: 1 0 100%;
			text-align:  center;
		} 
		.navbar-menu{
			flex-grow: 1;
			display: block;
			.navbar-start {
				margin: 0 auto;
				text-align: center;
			}
		}
		.navbar-item{
			display: inline-block;
			img {
				margin: 0 auto;
			}
		}
	}
}
.wrapper{
	width: 100%;
	padding: 1rem 0.5rem;
	&.white{
		background: white;
		&.border-top{
			border-top: 1px solid $white-ter;
		}
	}
	&.clients{
		img{
			filter: grayscale(100%);
		}
	}
}
.box{
	border-radius: 0;
    
	border: 1px solid $grey-light;
	box-shadow: none;
	&.blue{
		background: url(../img/fondo.png) center top;
		background-size: 100% auto;
		background-color: #183d73;
		background-repeat: repeat-y;
		border: none;
		p.content{
			color: white;
		}
	}
}
a{
	&:not(.button):not(.navbar-item):not(.navbar-link)
	{
		color: #183d73;
		text-decoration: underline;
		font-weight: bold
	}
}
.button{
	font-family: "Open Sans","sans-serif";
	font-weight: bold;
	border-radius: 0 !important;
	font-size: 1.2rem;
	height: auto;

	&.none {
		border: none;
		padding: 1rem;
		font-size: 1rem
	}

	&.alt{
		background: transparent;
		border: none;
		box-shadow: none;
		color: $yellow !important;

		padding-left: 0.6rem;
		.icon{
			border: 3px solid $yellow;
			border-radius: 100%;
			padding: 1.2rem;
			margin-right: 0.5rem !important;
			color: $yellow !important;
		}
		span, i {
			color: $yellow !important;
		}
	}
	&.is-yellow{
		background: $yellow;
		&:hover,&:active,&:focus{
			background: $yellow
		}
	}
	

}
.tabber{
	display: flex;
	border-top: 1px solid $grey-lighter;
	.tabsdiv{
		flex-basis: 100px;
		@include tablet {
			flex-basis: 150px
		}
	}
	.contentdiv{
		flex: 1;
		padding: 0.2rem;
		padding-top: 0.5rem;
		@include tablet {
			padding: 1rem;
		}
		a{
			i {
				padding-right: 10px
			}
		}
	}
}

.columns{
	
	&.is-variable-in-desktop
	{
		.columns{
			margin: 0;
		}
		&.is-6
		{
			@include customGap(6);
		}
		&.is-8{
			@include customGap(8);
			&.is-up-too{
				@include customGap(8, true);
			}
		}
		&.is-12{
			@include customGap(12);
		}
	}
	&.reversed{
		@include desktop{
			flex-direction: row-reverse;
		}
	}
	.column{
		&.extraup{
			@include tablet {
				padding-top: 0
			}
		}
	}
}
.tag{
	font-family: "Open Sans"
}

.wpforms-field{
	display: block;
}
.wpforms-form button
{
	&.is-primary{
		background: $turquoise !important;
	}
}
.tabs ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    word-break: break-all;
}
.tabs.is-boxed{
	ul{
		border: none;

		li{
			width: 100%;
			border: 1px solid $grey-lighter;
			border-left: none;
			border-top: none;
			border-radius: 0;
			text-decoration: none !important;
			justify-content: flex-start;
			background: #f9f9f9;
			padding: 1rem 0.5rem;
			cursor: pointer;
			margin: 0;
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: bold;
			color: #2367d4;
			&.is-active{
				background: white;
				border: none;
				color: black;
				&:not(:last-of-type)
				{
					border-bottom: 1px solid $grey-lighter;

				}
				+li{
					box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.4);
				}
			}
			&.last{
				background: white;
				cursor: auto;
			}
		}
	}
}
.content-tab{
	display: none;
	&.is-active{
		display: block;
	}
	.content, p{
		font-size: 13px !important;
	}

}
#tabscontainer {
	.column.is-narrow{
		@include tablet {
			padding: 0;
			width: 105px;
		}
	}
}