@charset "utf-8";
$button-padding-horizontal: 2rem;
$button-padding-vertical: 1.2rem;
$modal-background-background-color: #478bcc;

$modal-card-body-padding: 50px;
$card-background-color: transparent;
$card-shadow: none;


$blue: #2367d4;
$yellow: #ffcd3c;
$size-1: 4rem;
$size-2: 3rem;


@import "prebulma";
@import "posbulma";
$sizes: (
	('tiny',0.8),
    ('small', 2),
    ('medium', 4),
    ('big', 7),
    ('huge', 10),
);
$positions: (
    'top','bottom'
);
hr{
	background-color: $grey-lighter;
	height: 1px;
}
.container{
	&.is-small{
		max-width: 1024px;
	}
}
.card {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	@include desktop {
		height: 100%;
	}
	.card-footer {
		border: none;
		margin-top: auto;
	}
}
section.section{
	@include tablet {
		padding: 5rem 1.5rem;
	}
	&#lideres,&#especializado,&#mujer{
		@include tablet {
			padding: 7rem 1.5rem;
		}

	}
	&.bluebg{
		/*background: url(../img/fondo.jpg) left top;
		background-size: contain;*/
		background: #183d73;

		strong{
			color: white;
		}
		.title, .subtitle, .content, p, a:not(.button){
				color: white !important;
			}

	}
}
section{
	&.hero{
		&.bluebg{
			background: url(../img/fondo.jpg) left top;
			background-size: contain;
			strong{
				color: white;
			}
			
		}
	}
}
@mixin customGap($val: 1.6)
{
	@include tablet{

		$columnGap: 1.5rem;
		@if $val == 6
		{
			$columnGap: 1.5rem;
		}
		@else if $val == 8{
			$columnGap: 2rem;
		}
		@else{
			$columnGap: 3rem;
		}
		
		> .column {
		    padding-left: $columnGap;
		    padding-right: $columnGap;
		}
		

		&.is-multiline{
			&.is-blog-page{
				> .column:nth-child(n+4){
					padding-bottom: $columnGap;
			    	padding-top: $columnGap;
				}
			}
			
		}
	}
}

.hero{
	.hero-body{
		@include tablet{
			padding: 4rem 1.5rem;
		}
	}
}

//Spacing variables
@each $size in $sizes {
	$sizeKey: nth($size, 1);
	$sizeValue: nth($size, 2);
	@each $pos in $positions{
		.has-#{$sizeKey}-margin-#{$pos}{

			margin-#{$pos}: #{$sizeValue*0.5}rem;
			&.in-mobile{
				margin-#{$pos}: #{$sizeValue}rem;
			}					
			&:not(.in-mobile){
				@include desktop{
					margin-#{$pos}: #{$sizeValue}rem;
				}
			}
			&.only-mobile
			{
				@include desktop{
					margin-#{$pos}: initial;
				}
			}
			&.from-tablet{
				margin-#{$pos}: initial;
				@include tablet{
					margin-#{$pos}: #{$sizeValue}rem;
				}
			}
			@if $pos == "bottom"{
				&.not-on-last-child{
					&:last-child{
						margin-bottom: inherit;
					}
				}
			}
		}
		.has-#{$sizeKey}-padding-#{$pos}{
			padding-#{$pos}: #{$sizeValue*0.5}rem;
			@if $sizeKey == "medium" or $sizeKey == "small"{
				&.section{
					padding-#{$pos}: #{$sizeValue}rem;
				}
			}
			@include desktop{
				padding-#{$pos}: #{$sizeValue}rem;
			}
			&.only-mobile
			{
				@include desktop{
					padding-#{$pos}: initial;
				}
			}
			&.from-tablet{
				padding-#{$pos}: initial;
				@include tablet{
					padding-#{$pos}: #{$sizeValue}rem;
				}
			}
			@if $pos == "bottom"{
				&.not-on-last-child{
					&:last-child{
						padding-bottom: inherit;
					}
				}
			}
		}
	}
}


/*@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebasneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

.contaner.is-small{
	max-width: 800px;
	margin: 0 auto;
}
img{
	&.alignright{
		float: right;
	}
}
#video-player{
	&:after{
		content: "Cargando video. Por favor esperar...";
		font-size: 1.2rem;
		font-weight: bold;
		font-style: italic;
	}
}
.subtitle{
	font-family: 'Open Sans', "sans-serif";
}
.title{
	font-family: 'Open Sans', "sans-serif";
	font-weight: bold;
	span.big{
		@include tablet{
			font-size: 5rem;
		}
		@include widescreen {
			font-size: 6rem;
		}
	}
}
.title, .subtitle{
	&.is-blue, span.is-blue{
		color: $blue;
	}
}

.modal{
	@include mobile {
		padding: 1rem;
		.modal-card-body{
			padding: 0;
		}
	}
	.modal-content{ 
		overflow: visible;
		&.has-video{
			@include mobile{
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px; height: 0;

				iframe,	object,	embed {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			min-height: 300px;
			iframe{
				height: 100%;
			}
		}
	}
	.modal-card{
	
		overflow: visible;
		box-shadow: none !important;

		.modal-card-body{
			background: $modal-background-background-color;
			.columns {
				.column{
					@include tablet {
						border-right: 1px solid $grey-light;
						&:last-of-type {
							border: none !important;
						}
					}
				}
			}
		}
	}
	.modal-close{ 
		background: $danger;
		position: absolute;
		box-shadow: 0 10px 40px 0 rgba(white,0.1), 0 2px 9px 0 rgba(white,0.06);
		right: -16px;
		top: -16px;
		&:hover{
			background: darken($danger,10%);
		}
		&.is-white{
			background: $white-ter;
			&:before,&:after{
				background-color: $black-ter;
			}
			&:hover{
				background: white;
			}
		}
		&.is-large{
			min-height: 50px;
			min-width: 50px;
		}
	}
	&.is-big .modal-card{
		@include tablet {
			width: 750px;
		}
		@include widescreen {
			width: 950px;
		}
	}
}

.video-bg{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1 !important;
	background-size: cover; 
	.no-js &{
		display: none;
	}
}


.has-navbar-fixed-top{
	padding-top: 0 !important;
}

.is-vcentered{
	align-items: center;
}

body{
	background: transparent;
	position: relative;
	line-height: 1.7;
}

section{
	background: white;
	&:nth-of-type(2){
		@include tablet{
			padding-top: 6rem;
		}
	}
	
	&#main {
		background: #478bcc;
		.title, .subtitle, .content{
			color: white;
		}
	}
	&#publicos {
		background: #2367d4;
		.title, .subtitle, .content{
			color: white;
		}
		.columns{
			margin-bottom: 0
		}
	}

	&#contact {
		background: #478bcc;
		.title, .subtitle, .content{
			color: white;
		}
	}
}
nav.navbar{
	z-index: 9 !important;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid $grey-light;
	max-width: 1400px;
	flex-wrap: wrap;
	&.is-relative{
		position: relative;
	}
	.navbar-menu{
		background: transparent;
		@include touch{
			background: white;
		}
		@include tablet {
			margin: 0 auto;
			max-width: 100%;
		}
	}
	.navbar-start {
		@include tablet {
			display: block;
			max-width: 91%
		}
	}
	a.navbar-item, a.navbar-link{
		color: $grey-dark;
		padding: 1rem 1.5rem;
		font-family: "Open Sans";
		font-size: 0.8rem;
		transition: background-color 250ms linear;
		&:hover, &:focus, &:active{
			color: $grey-darker;
			background: whitesmoke;

		}
		@include tablet {
			display: inline-block;
		}

	}
	.navbar-link:not(.is-arrowless)::after{
		right: 0.5em;
	}
	.navbar-burger{
		color: $grey-light;
	}
	.navbar-brand{
		.navbar-item{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			img{
				max-height: 5rem
			}

		}
	}
	@include tablet {
		.navbar-brand{
			display: block;
			margin: 0 auto;
			flex: 1 0 100%;
			text-align:  center;
		} 
		.navbar-menu{
			flex-grow: 0;
			display: block;

		}
	}
}
.wrapper{
	width: 100%;
	padding: 1rem 0.5rem;
	&.white{
		background: white;
		&.border-top{
			border-top: 1px solid $white-ter;
		}
	}
	&.clients{
		img{
			filter: grayscale(100%);
		}
	}
}
.box{
	border-radius: 0;
    
	border: 1px solid $grey-light;
}
a{
	&:not(.button):not(.navbar-item):not(.navbar-link)
	{
		color: #183d73;
		text-decoration: underline;
		font-weight: bold
	}
}
.button{
	font-family: "Open Sans","sans-serif";
	font-weight: bold;
	border-radius: 0 !important;
	text-transform: uppercase;
	font-size: 1.2rem;
	height: auto;

	&.alt{
		background: transparent;
		border: none;
		box-shadow: none;
		color: $yellow;
		padding-left: 0.6rem;
		.icon{
			border: 3px solid $yellow;
			border-radius: 100%;
			padding: 1.2rem;
			margin-right: 0.5rem !important;
			color: $yellow;
		}
	}
	&.alt-font{
		font-family: "Open Sans";
		text-transform: none;
	}
}

.columns{
	&.is-variable-in-desktop
	{
		.columns{
			margin: 0;
		}
		&.is-6
		{
			@include customGap(6);
		}
		&.is-8{
			@include customGap(8);
		}
		&.is-12{
			@include customGap(12);
		}
	}
	&.reversed{
		@include desktop{
			flex-direction: row-reverse;
		}
	}
	.column{
		&.extraup{
			@include tablet {
				padding-top: 0
			}
		}
	}
}
.tag{
	font-family: "Open Sans"
}

.wpforms-field{
	display: block;
}
.wpforms-form button
{
	&.is-primary{
		background: $turquoise !important;
	}
}
.tabs ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
}
.tabs.is-boxed{
	ul{
		border: none;

		li{
			width: 100%;
			a{
				border: 2px solid $grey-lighter;
				border-top-right-radius: 0; 
				border-bottom-right-radius: 0 
			}
			&.is-active{
				a{
					background: $grey-lighter;
					font-weight: bold;
				}
			}
		}
	}
}
.content-tab{
	display: none;
	&.is-active{
		display: block;
	}
}
#tabscontainer {
	.column.is-one-quarter{
		@include tablet {
			border-right: 1px solid $grey-lighter; 
			padding: 0;
		}
	}
}