{% extends 'base.html.twig' %}
{% block content %}
<section class="hero is-medium no-video" id="home">
    {% include 'snippets/nav.twig' %}
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered is-multiline">
        <div class="column is-full">
          <h1 class="title is-1">
          	{{post.title}}
          </h1>
          
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="main">
  <div class="container">
    <div class="columns is-variable-in-desktop is-8 is-multiline">
      <div class="column is-full content">
        {{post.content}}
      </div>
     
    </div>
    <br><br>
   
  </div>
</section>
    
{% endblock %}