<nav class="navbar {{classes}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <a class="navbar-item" href="{{site.link}}">
      <img src="{{theme.link}}/dist/img/logo-white.png">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% include 'snippets/navigation.twig' with {'menu':menu.get_items} %}
    </div>
  </div>
</nav>
